@import '~antd/dist/antd.min.css';

body, div.ant-typography, .ant-typography p {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.App {
  min-height: 100vh;
  background: #fff;
}

.App-header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #ffffff;
  /* box-shadow: 0 2px 8px #f0f1f2; */
  font-size: 1.4em;
  font-weight: bolder;
  padding: 0 15px;
}

.App-header img {
  width: 38px;
  margin: 0 9px 3px 0;
}

.App-header a {
  color: #000;
}

.main-wrapper {
  position: relative;
  padding: 24px 18px;
}

.App-footer {
  position: relative;
  clear: both;
  color: #fff6;
  font-size: 14px;
  line-height: 1.5;
  background-color: #000;
  margin-top: 80px;
  text-align: center;
}

.ant-card {
  width: 100%;
}

.App-layout, .ant-layout {
  background-color: #fff;
}

@media (max-width: 768px) {
  .cs-main-container--responsive .cs-conversation-list .cs-conversation__content, .cs-main-container--responsive .cs-sidebar .cs-conversation-list .cs-conversation__content {
    display: flex !important;
  }
}

@media (max-width: 576px) {
  .cs-main-container--responsive .cs-search {
    display: flex !important;
  }
}

.cs-message-group--outgoing .cs-message-group__messages .cs-message .cs-message__content {
  background-color: #40a9ff !important;
  color: #ffffff !important;
}

.cs-message-group--outgoing .cs-message-group__messages .cs-message .cs-message__content .ant-typography:not(.ant-typography-secondary) {
  background-color: #40a9ff !important;
  color: #ffffff !important;
}

.cs-search__input {
  font-size: 14px !important;
}

.ant-popover-inner-content {
  padding: 0 !important;
}

/* .cs-main-container.main-chat {
  height: 100vh;
  height: calc(var(--vh, 0) * 100);
  height: -webkit-fill-available;
  height: calc(100vh - calc(100vh - 100%));
  height: var(--app-height);
  bottom: 0;
} */

.chat-container-wrapper {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cs-message--outgoing .ant-btn-primary {
  background: #40a9ff;
  border: none;
  /* box-shadow: none; */
}

.cs-message--incoming .ant-btn-primary {
  background: #c6e3fa;
  color: #000000DE;
  border: none;
  /* box-shadow: none; */
}